@import "tailwindcss";
@theme {
  --color-sang: #8B0000;
  --color-gold: #D4AF37;
}
:root { --sang: #8B0000; --gold: #D4AF37; }
body { margin: 0; background-color: #0a0a0a; color: white; overflow-x: hidden; }
.gold-text { color: var(--gold); font-weight: 800; }
